.iframeContainer {
    width: 100%;
    height: calc(100vh - 80px);
    /* Adjust for navbar height */
    position: relative;
    display: flex;
    flex-direction: column;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
    flex: 1;
}

.serverHint {
    text-align: center;
    padding: 5px;
    background-color: #f8f9fa;
    color: #666;
    font-size: 0.8rem;
    border-top: 1px solid #dee2e6;
}